@font-face {
    font-family: 'MyriadProBold';
    src: url('../fonts/MyriadProBold/MyriadProBold.ttf');
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadProRegular/MyriadProRegular.ttf');
}

body {
    background-image: url('../images/bg.png');
    background-repeat: repeat;
}

.wrapper {
    width: 500px;
    margin: auto;
    margin-bottom: 286px;
}

.name {
    width: 700px;
    height: 26px;
    margin: auto;
    margin-top: 43px;
    margin-bottom: 31px;
}

.name h1 {
    color: #010101;
    font-family: Arial;
    font-size: 36px;
}

.img {
    width: 202px;
    height: 202px;
    margin: auto;
    margin-top: 36px;
    margin-bottom: 13px;
    background-image: url('../images/1.jpg');
}

.job {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 18px;
    padding-bottom: 6px;
    border-bottom: 1px solid #a9a9a9;
    color: #1f1f1f;
    font-family: Arial;
    font-size: 14px;
}

.why {
    width: 500px;
    margin: auto;
    margin-top: -3px;
}

.why h3 {
    padding-left: 1px;
    color: #1f1f1f;
    font-family: 'MyriadProBold';
    font-size: 18px;
}

.list {
    margin-top: -12px;
    padding: 1px;
    padding-bottom: 5px;
    padding-left: -15px;
    border-bottom: 1px solid #a9a9a9;
    color: #3b3b3b;
    font-family: 'MyriadProRegular';
    font-size: 14px;
    font-weight: 400px;
    line-height: 18px;
}

.list ul {
    padding-left: 31px;
    font-weight: 400px;
}
.number {
    width: 500px;
    margin: auto;
    margin-bottom: -6px;
}

.number p {
    padding-top: 2px;
    padding-left: 37px;
    color: #3a3a3a;
    font-family: 'MyriadProRegular';
    font-size: 14px;
}

.number h3 {
    margin-top: 15px;
    padding-left: 1px;
    color: #1f1f1f;
    font-family: 'MyriadProBold';
    font-size: 18px;
}

.profile {
    width: 500px;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #a9a9a9;
}

.profile h3 {
    margin-top: 17px;
    padding-left: 1px;
    color: #1f1f1f;
    font-family: 'MyriadProBold';
    font-size: 18px;
}

.profile a {
    padding-top: 8px;
    padding-left: 37px;
    color: #0056d3;
    font-family: 'MyriadProRegular';
    font-size: 14px;
    font-style: italic;
}

.feedback {
    width: 500px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

.feedback h3 {
    margin-top: 15px;
    padding-left: 2px;
    color: #1f1f1f;
    font-family: 'MyriadProBold';
    font-size: 18px;
}

.feedback p {
    padding-top: 1px;
    padding-left: 35px;
    color: #3a3a3a;
    font-family: 'MyriadProRegular';
    font-size: 14px;
}
